# Server
PORT=3000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=backend_user
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=siem_db

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200
